html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

input {
    margin:20px auto;
    text-align:center;
    height: 50px;
    width: 300px;
    background-color: #e6e6e6;
    border-radius: 5px;
    border: 1px solid #7d7d7d;
    font-size:14px;
}
input:hover {background-color: #dadada}
input:active {background-color: #c0c0c0;}
button {
    margin:20px auto;
    text-align:center;
    height: 50px;
    width: 300px;
    background-color: #0660e9;
    border-radius: 5px;
    border: 1px solid #7d7d7d;
    color: rgb(255, 255, 255);
    font-size:14px;
}

button:hover {background-color: #001eb1}
button:active {background-color: #001683}
button:disabled {background-color: #589bff;}

img {
    height: 300px;
    width: 300px;
    margin: 20px auto;
}

#usernamelegaltip, #pwdlegaltip {
    display: none;
    margin: auto;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color: rgb(0, 154, 39);
}

#usernameillegaltip, #pwdillegaltip {
    display: none;
    margin: auto;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color: rgb(255, 0, 0);
}

#usernameinput:focus + #usernamelegaltip{
    display: block;
}

#usernameinput:focus + #usernameillegaltip{
    display: block;
}

#pwdinput:focus + #pwdlegaltip {
    display: block;
}

#pwdinput:focus + #pwdillegaltip {
    display: block;
}