html,
body {
    padding: 0;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-image: url("../imgs/neverender.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.blank {
    display: none;
}

.fadein {
    opacity: 0;
    animation: fade-in-animation 1s ease-in forwards;
    z-index: 100;
}

input {
    margin: 20px auto;
    text-align: center;
    height: 50px;
    width: 300px;
    background-color: #e6e6e6;
    border-radius: 5px;
    border: 1px solid #7d7d7d;
    font-size: 14px;
    opacity: 85%;
}

input:hover {
    background-color: #dadada
}

input:active {
    background-color: #c0c0c0;
}

button {
    margin: 20px auto;
    text-align: center;
    height: 50px;
    width: 300px;
    background-color: #39c5bb;
    border-radius: 5px;
    border: 1px solid #7d7d7d;
    color: rgb(255, 255, 255);
    font-size: 14px;
}

.delete {
    margin: 20px auto;
    text-align: center;
    height: 50px;
    width: 300px;
    background-color: #e90606;
    border-radius: 5px;
    border: 1px solid #7d7d7d;
    color: rgb(255, 255, 255);
    font-size: 14px;
}

.delete:hover {
    background-color: #af0000
}

.delete:active {
    background-color: #5a0101
}

button:hover {
    background-color: #27857f
}

button:active {
    background-color: #27857f
}

button:disabled {
    background-color: #63a39f;
}

img {
    height: 300px;
    width: 300px;
    margin: 20px auto;
}

#usernamelegaltip,
#pwdlegaltip {
    display: none;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: rgb(0, 154, 39);
}

#usernameillegaltip,
#pwdillegaltip {
    display: none;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: rgb(255, 0, 0);
}

#usernameinput:focus+#usernameillegaltip {
    display: block;
}

#pwdinput:focus+#pwdillegaltip {
    display: block;
}

#title {
    margin: 30px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 1000;
}

#info {
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 100;
    color: #8c8c8c;
}


.hometitle,
.registerbarli {
    float: left;
    height: 65px;
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 100;
    border-style: solid;
    border-width: 0px;
}

@keyframes fade-in-animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.entry {
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

.entrytitle {
    position: fixed;
    font-size: 50px;
    font-weight: 100;
    text-align: center;
    top:40%;
    justify-content: center;
    align-items: center;
}

.newuser {
    margin: 20px auto;
    margin-bottom: 50px;
    width: auto;
    font-size: 13px;
    color: #589bff;
}

.newuser:hover {
    color: #39c5bb;
}

.registerlink {
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    height: 40px;
}

.copyright {
    margin: 20px;
    text-align: center;
}