.msglist {
    position: fixed;
    top: 65px;
    left: 0;
    bottom: 0;
    width: 20%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #535353;
    
}

.msglist li {
    float: left;
    height: 65px;
    width: 100%;
    display: block;
    color: white;
    padding: 0;
    text-align:center;
    text-decoration: none;
    margin: auto;
    left: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    font-weight: 100;
    border-style:solid;
    border-width:1px;
    border-left-color: #535353;
    border-right-color: #535353;
    border-top-color: #535353;
    border-bottom-color: #a0a0a0;
}

.msglist li:hover {
    background-color: #888888;
}

.msglist img{
    float: left;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    border: 2px solid #ccc;
    margin-left: 20px;
    margin-right: 0;
    margin-top: 10px;
}

.msginfopv {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 0;
    margin-left: 0;
}

.senderpv {
    text-align: left;
    margin-top: 10px;
    margin-left: 0;
}

.msgpv {
    text-align: left;
    height: 50%;
    margin-top: 10px;
    font-size: 15px;
    color: #888888;
}

.inputdisplay {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 80%;
    height: 11%;
    right: 0;
    left: 20%;
    bottom: 0;
    background-size: cover;
    background-position: center;
}

.msginput {
    float: right;
    text-align:left;
    margin-left: 20px;
    margin-top: 40px;
    height: 40%;
    width: 80%;
    border-radius: 15px;
    border: 1px solid #7d7d7d;
    color: rgb(0, 0, 0);
    font-size:15px;
}

.record-button{
    width: 10px;
    height: 100%;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 0;
    background-color: rgba(184, 238, 253, 0);
    border: 0px solid #7d7d7d;
}

.sendbutton {
    width: 40px;
    height: 100%;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 0;
    background-color: rgba(0,0,0,0);
    border: 0px solid #7d7d7d;
}

.sendbutton .Icon {
    color: #969696;
    width: 25px;
    height: 25px;
}

.picbutton {
    width: 50%;
    height: 100%;
    margin: 0;/*margin指的是上下左右的外边距*/
    font-size:30px;
    border-radius: 0;
    border: 1px solid #7d7d7d;
}

.filebutton {
    width: 50%;
    height: 100%;
    margin-top: 10px;
    border-radius: 0;
    background-color: rgba(0,0,0,0);
    border: 0px solid #7d7d7d;
}

.msgbutton .Icon {
    color: #0660e9;
    width: 30px;
    height: 30px;
}

.msgbutton:hover {
    background-color: rgba(0,0,0,0);
}

.msgbox {
    position: fixed;
    resize: none;
    top: 65px;
    bottom: 15%;
    left: 20%;
    width: 80%;
    font-size:30px;
    border-radius: 0;
    border: 0px solid #7d7d7d;
}

.sender_avatar {
    display: inline;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    border: 2px solid #ccc;
    margin: 10px 20px;
}

.msg {
    display: block;
    width: auto;
    height: auto;
    right: 0;
    margin-left: 0;
    margin-top: auto;
    background-size: cover;
    background-position: center;
}

.mymsgavatar {
    display: inline;
    float: right;
    right: 0;
}

.msgavatar {
    display: inline;
    float: left;
}

.mymsgmain {
    display: flex;
    flex-direction: column;
    float: right;
    margin-right: auto;
}

.msgmain {
    display: flex;
    flex-direction: column;
    float: left;
    margin-left: auto;
}

.msgbody {
    float: left;
    display: block;
    border-radius: 5px;
    background-color: #b6b6b6;
    max-width: 500px;
    word-break: break-all;
    word-wrap: break-word;
    padding: 12px;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
}

.mymsgbody {
    float: right;
    display: block;
    border-radius: 5px;
    background-color: #0660e9;
    max-width: 500px;
    word-break: break-all;
    word-wrap: break-word;
    padding: 12px;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 0;
}

.msgbody a {
    color: #0baaf9;
}

.mymsgbody a {
    color: #0baaf9;
}

.sendername {
    display: block;
    font-size: 13px;
    margin: 0;
}

.mysendername {
    float: right;
    text-align: right;
    font-size: 12px;
}

#msgdisplay {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    width: 80%;
    height: auto;
    right: 0;
    margin-left: 20%;
    top: 65px;
    bottom: 20%;
    background-size: cover;
    background-position: center;
    float: right;
    overflow-y: auto;
}

.emoji-picker-container{
    position: fixed;
    bottom: 30%;
    right: 0;
    height: 40%;
}

.ContextMenuLi {
    margin: 0;
    height: 25px;
    font-size: 12px;
    text-align: center;
    padding: 5px;
}

.ContextMenuLi:hover {
    margin: 0;
    background-color: rgb(179, 179, 179);
}

.msgContextMenu {
    position: absolute;
    background-color: rgb(226, 226, 226);
    text-align:center;
    width: 100px;
    font-size: 12px;
    padding: 0;
    border-radius: 5px;
    border: 1px solid #a8a8a8;
    list-style-type: none;
}