.msglist {
    position: fixed;
    top: 65px;
    left: 0;
    bottom: 0;
    width: 20%;
    list-style-type: none;
    margin: 15px;
    padding: 0;
    background-color: #535353;
    overflow-y: auto;
    border-radius: 15px;
}

.msglist li {
    float: left;
    height: 65px;
    width: 100%;
    display: block;
    color: white;
    padding: 0;
    text-align:center;
    text-decoration: none;
    margin: auto;
    left: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    font-weight: 100;
    border-style:solid;
    border-radius: 15px;
    border-width:0px;
    border-left-color: #535353;
    border-right-color: #535353;
    border-top-color: #535353;
    border-bottom-color: #a0a0a0;
}

.msglist li:hover {
    background-color: #888888;
}

.msglist img{
    float: left;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    border: 2px solid #ccc;
    margin-left: 20px;
    margin-right: 0;
    margin-top: 10px;
}

.msginfopv {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 0;
    margin-left: 0;
}

.senderpv {
    text-align: left;
    margin-top: 10px;
    margin-left: 0;
}

.msgpv {
    text-align: left;
    height: 50%;
    margin-top: 10px;
    font-size: 15px;
    color: #888888;
}

.recorddisplay {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 80%;
    height: 11%;
    right: 0;
    left: 90%;
    bottom: 0;
    background-size: cover;
    background-position: center;
    font-size: 20px;
    font-family: "KaiTi"
}

.inputdisplay {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 55%;
    height: 11%;
    right: 22%;
    bottom: 0;
    background-size: cover;
    background-position: center;
}

.msginput {
    float: right;
    text-align:left;
    margin-left: 20px;
    margin-top: 40px;
    height: 40%;
    width: 80%;
    border-radius: 15px;
    border: 1px solid #7d7d7d;
    color: rgb(0, 0, 0);
    font-size:15px;
    padding: 12;
}

.record-button{
    width: 10px;
    height: 100%;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 0;
    background-color: rgba(184, 238, 253, 0);
    border: 0px solid #7d7d7d;
}

.sendbutton {
    width: 40px;
    height: 100%;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 0;
    background-color: rgba(0,0,0,0);
    border: 0px solid #7d7d7d;
}

.sendbutton .Icon {
    color: #969696;
    width: 25px;
    height: 25px;
}

.sendbutton #rcd {
    color: #969696;
    width: 25px;
    height: 25px;
}

.sendbutton #notrcd {
    color: #535353;
    width: 25px;
    height: 25px;
}

.sendbutton:hover {
    background-color: rgba(0,0,0,0);
}

.sendbutton:hover .Icon {
    color: #535353;
}

.sendbutton:hover #rcd {
    color: #535353;
}

.msgbutton {
    width: 50px;
    height: 100%;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 0;
    background-color: rgba(0,0,0,0);
    border: 0px solid #7d7d7d;
}

.msgbutton .Icon {
    color: #0660e9;
    width: 30px;
    height: 30px;
}

.msgbutton:hover {
    background-color: rgba(0,0,0,0);
}

.msgbutton:hover .Icon{
    color: #003a92;
}

.msgbox {
    position: fixed;
    resize: none;
    top: 65px;
    bottom: 15%;
    left: 20%;
    width: 80%;
    font-size:30px;
    border-radius: 0;
    border: 0px solid #7d7d7d;
}

.sender_avatar {
    display: inline;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    border: 2px solid #ccc;
    margin: 10px 20px;
}

.msg {
    display: block;
    width: auto;
    height: auto;
    right: 0;
    margin-left: 0;
    margin-top: auto;
    background-size: cover;
    background-position: center;
}

.mymsgavatar {
    display: inline;
    float: right;
    right: 0;
}

.msgavatar {
    display: inline;
    float: left;
}

.mymsgmain {
    display: flex;
    flex-direction: column;
    float: right;
    margin-right: auto;
}

.msgmain {
    display: flex;
    flex-direction: column;
    float: left;
    margin-left: auto;
}

.msgbody {
    float: left;
    display: block;
    border-radius: 5px;
    background-color: #b6b6b6;
    max-width: 500px;
    width: auto;
    word-break: break-all;
    word-wrap: break-word;
    padding: 12px;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
}

.mymsgbody {
    float: right;
    display: block;
    border-radius: 5px;
    background-color: #0660e9;
    max-width: 500px;
    width: auto;
    word-break: break-all;
    word-wrap: break-word;
    padding: 12px;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 0;
    color: #fefefe;
}

.msgbody a {
    color: #0baaf9;
}

.mymsgbody a {
    color: #0baaf9;
}

.sendername {
    text-align: left;
    font-size: 15px;
    margin-left: 0;
}

.mysendername {
    text-align: right;
    font-size: 15px;
    margin-right: 0;
}

.sendtime {
    display: block;
    font-size: 12px;
    margin-top: 0;
    margin: 0;
    color: #7d7d7d;
}

.mysendtime {
    text-align: right;
    font-size: 12px;
    margin-top: 0;
    margin-right: 0;
    color: #7d7d7d;
}

#msgdisplay {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    width: 55%;
    height: auto;
    top: 115px;
    bottom: 80px;
    right: 22%;
    background-size: cover;
    background-position: center;
    float: right;
    overflow-y: auto;
    border-radius: 15px;
    background-color: #f0f0f0;
}

.emoji-picker-container{
    position: fixed;
    bottom: 30%;
    right: 22%;
    height: 35%;
}

.ContextMenuLi {
    margin: 0;
    height: 25px;
    font-size: 12px;
    text-align: center;
    padding: 5px;
}

.ContextMenuLi:hover {
    margin: 0;
    background-color: rgb(179, 179, 179);
}

.msgContextMenu {
    position: absolute;
    background-color: rgb(226, 226, 226);
    text-align:center;
    width: 100px;
    font-size: 12px;
    padding: 0;
    border-radius: 5px;
    border: 1px solid #a8a8a8;
    list-style-type: none;
    overflow-y: auto;
    max-height: 80px;
}

.translate {
    float: left;
    display: block;
    border-radius: 5px;
    background-color: #dedede;
    max-width: 500px;
    width: auto;
    word-break: break-all;
    word-wrap: break-word;
    padding: 12px;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
}

.transform {
    float: left;
    display: block;
    border-radius: 5px;
    background-color: #dedede;
    max-width: 500px;
    width: auto;
    word-break: break-all;
    word-wrap: break-word;
    padding: 12px;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
}




.popuprecord {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 80%;
    height: 11%;
    right: 0;
    left: 20%;
    bottom: 75%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
}
  
.popup-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    font-family: KaiTi;
    background-color: #ccc; /* 设置底色为灰色 */
    border-radius: 10px; /* 设置圆角矩形的半径 */
    padding: 10px; /* 可选：设置内边距 */
}

.count {
    margin: auto;
    background-color: #ffffff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 2px;
    font-size: 16px;
    font-weight: 1000;
    text-align: center;
    color: #535353;
}