.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 15px;
    text-align: center;
    z-index: 100;
  }
  
  .popupAvatar {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: auto;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 15px;
    text-align: center;
    z-index: 100;
  }

  .popup input {
    width: 80%;
    height: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 18px;
    text-align: center;
  }
  
  .popup .fileupload {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid #ccc;
    text-align: center;
  }

  .popup button {
    margin-bottom: 50px;
    margin: 20px;
    width: 100px;
    height: 40px;
    font-size: 18px;
  }
  
  .popuppwd {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: auto;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 15px;
    text-align: center;
    z-index: 100;
  }
  
  .popuppwd input {
    width: 80%;
    height: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid #ccc;
    font-size: 18px;
    text-align: center;
  }
  
  .popuppwd button {
    margin-bottom: 50px;
    margin: 20px;
    width: 100px;
    height: 40px;
    font-size: 18px;
  }
  
.info {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: auto;
    padding: 20px;
    margin: 115px auto;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
    overflow-y: auto;
    border-radius: 15px;
    border: 1px solid #ccc;
    background-color: #ffffffac;
}

.infobuttons{
  display: flex;
  margin: 30px auto;
  margin-left: 65px;
  flex-wrap: wrap;
  width: 400px;
  justify-content: center;
  align-items: center; 
}

#infoTitle {
  font-size: 40px;
  margin: 30px auto;
  font-weight: 400;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}