.searchfriend {
    position: fixed;
    top: 100px;
    left: 40%;
    width: 50%;
    display: inline-block;
}

.searchfriend input {
    left: 100px;
}

.searchfriend button {
    width: 20%;
}

.friend {
    margin-left: 50%;
    margin-top: 100px;
    width: 40%;
}

.friend .friendavatar{
    margin-left: 20px;
}
.friend .resultName {
    margin-left: 110px;
    margin-top: 0;
    height: 40px;
    font-size: 40px;
    font-weight: 700;
}
.friend .resultId {
    margin-left: 130px;
    margin-top: 0;
    height: 20px;
    font-size: 20px;
    font-weight: 300;
}