.searchfriend {
    position: fixed;
    top: 100px;
    left: 40%;
    width: 50%;
    display: inline-block;
}

.searchfriend input {
    left: 100px;
}

.searchfriend button {
    width: 20%;
}

.friend {
    margin-left: 50%;
    margin-top: 100px;
    width: 40%;
    font-size: 30px;
    font-weight: 500;
}