.startgrouptitle {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.startgroupfriends {
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 20px;
}

.startgroupchoice {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 300px;
    margin: auto;
    overflow-y: auto;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.startgroupcheckbox {
    width: 20px;
    height: 15px;
    margin-top: 25px;
    margin-left: 20px;
}

.startgroupchoicebox {
    margin-left: 0;
    border-bottom: 1px solid #ccc;
}